
<div class="topnav">
  <a class="active" href="dashboard">Dashboard</a>
  <a href="search-result">View all</a>
  <form id="logout-form" action="/logout" method="POST">
    <button class="logout">Logout</button>
  </form>
</div>


<h2>Your Personal Collection</h2>
<hr size="3" width="100%" color="green">  

<div class="plant-list">

{{#with user}}
{{#each myPlants }}

<div class="plant-box">
<img class="plant-image" src="{{this.id.image_url}}"
alt="picture of  {{this.id.commonName}}"/>
<ul>
<li> <b>Common Name: </b> <p>{{this.id.commonName}}</p></li>
<li> <b> Nickname: </b> <p>{{this.nickName}}</p></li>
<li> <b> Category: </b> <p>{{this.currentCategory}}</p></li>
<li> <b>Humidtiy: </b> <p>{{this.currentHumidity}}</p></li>
<li>  <b>Light: </b> <p>{{this.id.light}}</p></li>
<li> <b> I need water: </b> <p>{{this.needWater}}</p></li>
</ul>

<form action="/dashboard/{{ this._id }}/delete" method="POST">
  <button type="submit" class="button">Remove</button>
</form>
<button class="button"><a href="/dashboard/{{ this.id._id }}/edit">Edit</a></button>
</div>

{{/each}}
{{/with}}
</div>

