<html class="index-background">

  {{#with plant}}

  <div class="plant-editor-back">
    <div>
      <h2>{{this.id.commonName}}</h2>
    </div>
    <div class="content-editor">
      <div class="image-edit-container">
        <img class="image-edit" src="{{this.id.image_url}}" alt="picture of  {{this.id.commonName}}"/>
      </div>
      <div>
      
        <table class="table">
          <tr>
            <th><b>Current category</b></td>
            <td>{{this.id.Category}}</td>
          </tr>
          <tr>
            <th><b>Plant family</b></td>
            <td>{{this.id.family}}</td>
          </tr>
          <tr>
            <th><b>Scientific name</b></td>
            <td>{{this.id.name}}</td>
          </tr>
          <tr>
            <th><b>Common name</b></td>
            <td>{{this.id.commonName}}</td>
          </tr>
          <tr>
            <th><b>Recommended humidity</b></td>
            <td>{{this.id.humidity}}</td>
          </tr>
          <tr>
            <th><b>Temperature</b></td>
            <td>{{this.id.temperature}}</td>
          </tr>
          <tr>
            <th><b>Fertilizer</b></td>
            <td>{{this.id.fertilizer}}</td>
          </tr>
          <tr>
            <th><b>Pets toxicity</b></td>
            <td>{{this.id.toxicityForPets}}</td>
          </tr>
          <tr>
            <th><b>Water</b></td>
            <td>{{this.id.watering}}</td>
          </tr>
        </table>
      </div>
      <div class="editor-list">
        <form action="/{{this.id._id}}/editThis" method="post">
          
          <label for="category"><b>New category</b></label>
          <p>
            <input type="text"  name="category" id="category" value="{{this.currentCategory}}" class="imput-tag" />
          </p>

          <label for="nickName"> <b>Nickname </b> </label>
          <p>
            <input type="text" name="nickName" id="nickName" value="{{this.nickname}}" class="imput-tag"/>
          </p>

          <label for="humidity"> <b>Room humidity</b></label>
            <p>
              <input type="percentage" name="humidity" id="humidity" value="{{this.currentHumidity}}" class="imput-tag"/>
            </p>

          <label for="temperature"> <b>Room Temperature </b> </label>
          <p>
            <input type="number" name="temperature" id="temperature" value="{{this.currentTemperature}}" class="imput-tag"/>
          </p>
          <div>
            <button type="submit" class="save-changes">Save changes</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  {{/with}}
</html>