<html class="index-background">

  {{#with plant}}

  <div class="plant-editor-back">
    <div>
      <h2>{{this.id.commonName}}</h2>
    </div>
    <div class="content-editor">
      <div >
        <img class="image-edit" src="{{this.id.image_url}}" alt="picture of  {{this.id.commonName}}"/>
      </div>
      <div class="editor-list">
        
        <form action="/{{this.id._id}}/editThis" method="post">

          <div><b class="edit-key"> Current category: </b>{{this.id.Category}}</div>

          <label for="category">
            <b>New category:</b>
          </label>
          <input type="text"  name="category" id="category" value="{{this.currentCategory}}" />
 
          <div><b>Plant family:</b> {{this.id.family}}</div>
          <div><b>Scientific name:</b> {{this.id.name}}</div>
          <div><b>Common name: </b>{{this.id.commonName}}</div>

          <label for="nickName"> <b>Nickname: </b> </label>
          <input type="text" name="nickName" id="nickName" value="{{this.nickname}}" />
          <div><b>Recommended humidity: </b>{{this.id.humidity}}</div>

          <label for="humidity"> <b>Current humidity:</b>
            <input type="percentage" name="humidity" id="humidity" value="{{this.currentHumidity}}" />
          </label>

          <div><b>Temperature:</b> {{this.id.temperature}}</div>

          <label for="temperature"> <b>Current temperature: </b> </label>
          <input type="number" name="temperature" id="temperature" value="{{this.currentTemperature}}" />
  

          <div><b>Fertilizer: </b>{{this.id.fertilizer}}</div>
          <div><b>Pets toxicity:</b> {{this.id.toxicityForPets}}</div>
          <div><b>Water:</b> {{this.id.watering}}</div> 

          <div>
            <button type="submit" class="save-changes">Save changes</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  {{/with}}
</html>