
<div class="topnav">
  <a class="active" href="dashboard">Dashboard</a>
  <a href="search-result">View all</a>
  <form id="logout-form" action="/logout" method="POST">
    <button class="logout" >Logout</button>
  </form>
</div>
<div class="search-bar">
  <form action="/search" method="GET">
    <label>
      Search Plants
      <input type="text" name="plant">
    </label>
  </div>
<hr size="3" width="100%" color="green">  

<div class="plant-list">
  {{#each plants}}
  
  <div class="plant-box">
    <div>
      <img class="plant-image" src="{{image_url}}" alt="picture of  {{commonName}}"/>
    </div>
    <div>
      <ul>
        <li> <b> Name </b> <p>{{name}} </p> </li>
        <li> <b>Common Name </b> <p>{{commonName}}</p></li>
        <li> <b>Water </b> <p>{{watering}}</p></li>
        <li> <b>Humidtiy </b> <p> {{humidity}} </p> </li>
        <li>  <b>Light </b> <p>{{light}} </p></li>
      </ul>
    </div>
    <div>
      <button class="save-button"><a href="/dashboard/{{this._id}}/add">Add to collection</a></button>
    </div>

  </div>
  {{/each}}
</div>
