<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
<div class="topnav">
  <a class="active" href="dashboard">Dashboard</a>
  <a href="search-result">View all</a>
</div>


<h2>Your Personal Collection</h2>
<hr size="3" width="100%" color="green">  

<div class="plant-list">
    {{#with user}}
{{#each myPlants}}
<div class="plant">
<li><img src="{{image_url}}" alt="picture of  {{commonName}}"/></li>
<li>Family: {{family}}</li>
<li>Common Name: {{commonName}}</li>
<li>Water: {{watering}}</li>
<li>Humidtiy: {{humidity}}</li>
<li> Light: {{light}}</li>
</ul>


<form action="/dashboard/{{ this._id }}/delete" method="GET">
    <button type="submit">Delete</button>
</form>
<button><a href="/dashboard/{{ this._id }}/edit">Edit</a></button>
</div>

{{/each}}
{{/with}}
</div>