
<div class="topnav">
  <a class="active" href="dashboard">Dashboard</a>
  <a href="search-result">View all</a>
  <form id="logout-form" action="/logout" method="POST">
    <button class="logout">Logout</button>
  </form>
</div>


<h2>Your Personal Collection</h2>
<hr size="3" width="100%" color="green">  

<div class="plant-list">

{{#with user}}
{{#each myPlants}}

<div class="plant">
<li><img src="{{this.id.image_url}}" alt="picture of  {{this.id.commonName}}"/></li>
<li>Family: {{this.id.family}}</li>
<li>Common Name: {{this.id.commonName}}</li>
<li>Water: {{this.id.watering}}</li>
<li>Humidtiy: {{this.currentHumidity}}</li>
<li> Light: {{this.id.light}}</li>
</ul>

<form action="/dashboard/{{ this._id }}/delete" method="GET">
  <button type="submit" class="button">Remove</button>
</form>
<button><a href="/dashboard/{{ this._id }}/edit">Edit</a></button>
</div>

{{/each}}
{{/with}}
</div>
