
<h2>Edit the plant: {{plant.commonName}}</h2>

{{#with plant}}

<img src="{{this.img_url}}" alt="picture of  {{this.commonName}}"/>
<div>Category: {{this.Category}}</div>
<div>Plant family: {{this.family}}</div>
<div>Scientific name: {{this.name}}</div>
<div>Common name: {{this.commonName}}</div>
<div>Water: {{this.watering}}</div> 

<form action="{{plant._id}}/edit" method="post"></form> 
  <label> Pot size:
    <input type="number"  value="{{this.size.potSize}}" />
  </label>
  <label> Height:
    <input type="number"  value="{{this.size.height}}" />
  </label>
  <button>Save changes</button>
</form>


<div>Humidity: {{this.humidity}}</div>
<div>Temperature: {{this.temperature}}</div>
<div>fertilizer: {{this.fertilizer}}</div>
<div>Pets toxicity: {{this.toxicityForPets}}</div>


{{/with}}
