
<h2>Edit the plant: {{plant.commonName}}</h2>

{{#with plant}}

<img src="{{this.img_url}}" alt="picture of  {{this.commonName}}"/>
<div>Current category: {{this.Category}}</div>

<form action="/{{this._id}}/editThis" method="post">
  <label> New category: </label>
    <input type="text"  value="{{this.currentCategory}}" />
 
<div>Plant family: {{this.family}}</div>
<div>Scientific name: {{this.name}}</div>
<div>Common name: {{this.commonName}}</div>

  <label> Nickname:  </label>
    <input type="text"  value="{{this.nickname}}" />

<div>Water: {{this.watering}}</div> 

  <label> Pot size: </label>
    <input type="number"  value="{{this.size.potSize}}" />
 
  <label> Height:  </label>
    <input type="number"  value="{{this.size.height}}" />

<div>Recommended humidity: {{this.humidity}}</div>

  <label> Current humidity:
    <input type="percentage"  value="{{this.currentHumidity}}" />
  </label>

<div>Temperature: {{this.temperature}}</div>

  <label> Current temperature:  </label>
    <input type="number"  value="{{this.currentTemperature}}" />
  


<div>fertilizer: {{this.fertilizer}}</div>
<div>Pets toxicity: {{this.toxicityForPets}}</div>

  <label> I need to be water: </label>
    <button type="reset">Watered</button>

<div>
  <button type="submit">Save changes</button>
</div>
</form>



{{/with}}
