
<div class="topnav">
  <a class="active" href="dashboard">Dashboard</a>
  <a href="search-result">View all</a>
  <form id="logout-form" action="/logout" method="POST">
    <button class="logout" >Logout</button>
  </form>
</div>

<h2>All Plants</h2>

<form action="/search" method="GET">
  <label>
    Search Plants
    <input type="text" name="plant">
  </label>

<hr size="3" width="100%" color="green">  

<div class="plant-list">
{{#each plants}}
<div class="plant">
<li><img src="{{image_url}}" alt="picture of  {{commonName}}"/></li>
<li>Family: {{family}}</li>
<li>Common Name: {{commonName}}</li>
<li>Water: {{watering}}</li>
<li>Humidtiy: {{humidity}}</li>
<li> Light: {{light}}</li>
</ul>


<button><a href="/dashboard/{{this._id}}/add">Add to your private collection</a></button>

<button type="submit">Add to the chart</button>

</div>
{{/each}}
</div>
